:root {
  --maxWidth: 1200px;
  --pointColor: #2cc285;
}

* {
  padding: 0;
  margin: 0;
}

.box__inner {
  max-width: var(--maxWidth);
  margin: 0 auto;
}

@media all and (max-width: 1200px) {
  .box__inner {
    max-width: 100%;
  }
  .box__best-top {
    min-width: 100%;
    .box__best-title {
      width: 100%;
    }
  }
}

.for-a11y {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
button,
a {
  padding: 0;
  margin: 0;
  color: #666;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
ul,
ol,
dl {
  list-style: none;
}

.box__best-top {
  .button__tooptip {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid red;
    border-radius: 50%;
  }
}

.box__navigation {
  background-color: var(--pointColor);
  border-bottom: 1px solid #eee;
  .box__inner {
    display: flex;
  }
  .link {
    flex: 1;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    &.active {
      font-weight: bold;
      color: var(--pointColor);
      background-color: #fff;
    }
  }
}

@media all and (max-width: 768px) {
  .box__navigation {
    .link {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}
