@import "swiper/css";

:root {
  --maxWidth: 1200px;
  --pointColor: #2cc285;
}
* {
  padding: 0;
  margin: 0;
}
.for-a11y {
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
button,
a {
  padding: 0;
  margin: 0;
  color: #666;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
ul,
ol,
dl {
  list-style: none;
}

.box__inner {
  max-width: var(--maxWidth);
  margin: 0 auto;
}
@media all and (max-width: 1200px) {
  .box__inner {
    max-width: 100%;
  }
}
